.dropdown-menu > .database_block_message {
    width: 100%;
    text-align: center;
}

.o_user_menu .dropdown-menu,
.o_navbar_apps_menu .dropdown-menu {
    z-index: 1120; /* $.blockUI.defaults.baseZ + 20 */
}
